<h4 class="text-center">Files for analytic entry with id {{ analyticId }}</h4>
<div style="margin-left: 3rem; margin-right: 3rem;">

    <div class="alert alert-danger" ng-if="analyticIdLoadSuccess === 'fail'">
        <p><strong>Error!</strong> Could not load analytic data.</p>
    </div>

    <div class="alert alert-info" style=" display: flex;align-items: center;" ng-if="analyticIdLoadSuccess === 'loading'">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><p><strong>Loading</strong> currently available analytic data.</p>
    </div>
    <div class="panel panel-default" ng-if="analyticIdLoadSuccess === 'success'">
        <table class="table table-bordered table-responsive">


            <tbody>
            <tr ng-repeat="url in urls">
                <td style="width: 1%;white-space:nowrap;text-decoration: none;">
                    <span ng-click="redirectAnalyticsFile(url)">
                    <i class="fa fa-2x fa-binoculars" style="margin-right: 0.5rem; margin-left: 0.5rem; cursor: pointer;" title="Show file"></i>
                </span>
                </td>
                <td style="font-size: medium;">{{ url }}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>