<!-- home.html -->
<h4 class="text-center">Analytics for job with id {{ id }}</h4>
<div style="margin-left: 3rem; margin-right: 3rem;">

    <div class="alert alert-danger" ng-if="deleteSuccess === false">
        <p><strong>Error!</strong> Could not remove analytic entry.</p>
    </div>
    <div class="alert alert-danger" ng-if="analyticLoadSuccess === 'fail'">
        <p><strong>Error!</strong> Could not load analytic data.</p>
    </div>

    <div class="alert alert-info" style=" display: flex;align-items: center;" ng-if="analyticLoadSuccess === 'loading'">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><p><strong>Loading</strong> currently available analytic data.</p>
    </div>
    <div class="panel panel-default" ng-if="analyticLoadSuccess === 'success'">
        <table class="table table-bordered table-responsive">
            <thead class="thead-inverse" style="width: 100%">
            <tr class="thead-inverse">
                <th></th>
                <th>
                    <a href="" ng-click="sortBy = 'id'; sortReverse = !sortReverse">
                        #
                        <span ng-show="sortBy == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortBy == 'id' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="sortBy = 'successful'; sortReverse = !sortReverse">
                        Successful repair
                        <span ng-show="sortBy == 'successful' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortBy == 'successful' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="sortBy = 'timestamp'; sortReverse = !sortReverse">
                        Timestamp
                        <span ng-show="sortBy == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortBy == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>

            </thead>

            <tbody>
            <tr ng-repeat="data in analyticData | orderBy:sortBy:sortReverse">
                <td style="width: 1%;white-space:nowrap;text-decoration: none;">
                <span ng-click="deleteAnalytic(data.id)">
                    <i class="fa fa-2x fa-trash" style="margin-right: 0.5rem; margin-left: 0.5rem; cursor: pointer;" title="Delete this entry" ></i>
                </span>
                    <span ng-click="redirectAnalyticsId(data.id)">
                    <i class="fa fa-2x fa-binoculars" style="margin-right: 0.5rem; margin-left: 0.5rem; cursor: pointer;" title="Show analytics"></i>
                </span>
                </td>
                <td style="font-size: medium;">{{ data.id }}</td>
                <td><i class="fa fa-2x fa-thumbs-up" style="color:green;margin-left: 0.5rem"   ng-if="data.successful"></i>
                <i class="fa fa-2x fa-thumbs-down" style="color:red;margin-left: 0.5rem" ng-if="!data.successful"></i></td>

                <td style="font-size: medium;">{{ timestampToDate(data.timestamp) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>