<!-- home.html -->
<h3 class="text-center" ng-if="editJobLoadSuccess === 'success'">Job for container: {{ editJob.containerName }}</h3>
<div style="margin: 1rem">

    <!-- alerts when loading the form -->
    <div class="alert alert-danger" ng-if="editJobLoadSuccess === 'fail'">
        <p><strong>Error!</strong> {{ errorMessage }}</p>
    </div>

    <div class="alert alert-info" style=" display: flex;align-items: center;" ng-if="editJobLoadSuccess === 'loading'">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><p><strong>Loading</strong> job</p>
    </div>

    <div class="alert alert-danger" ng-if="jobEdited === 'fail'">
        <strong>Error!</strong> {{ editJobError }}
    </div>

</div>
<div class="panel panel-default" style="margin-left: 3rem; margin-right: 3rem;" ng-if="editJobLoadSuccess === 'success'">

    <form name="editForm"
          sf-schema="editJobSchema"
          sf-form="editJobForm"
          sf-model="editJobModel"
          style="margin: 1rem"></form>

    <div  style="margin-left: 1rem; margin-bottom: 1rem">
        <button ng-if="!loading"  ng-click="onSubmitEdit(editForm)" class="btn btn-success">Submit</button>
        <i ng-if="loading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>
</div>