<!-- home.html -->
<h4 class="text-center">Jobs</h4>
<div style="margin-left: 3rem; margin-right: 3rem;">

    <div class="alert alert-danger" ng-if="deleteSuccess === false">
        <p><strong>Error!</strong> Could not remove job.</p>
    </div>
    <div class="alert alert-danger" ng-if="jobLoadSuccess === 'fail'">
        <p><strong>Error!</strong> Could not load jobs.</p>
    </div>

    <div class="alert alert-info" style=" display: flex;align-items: center;" ng-if="jobLoadSuccess === 'loading'">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><p><strong>Loading</strong> currently available jobs.</p>
    </div>
<div class="panel panel-default" ng-if="jobLoadSuccess === 'success'">
    <table class="table table-bordered table-responsive">
        <thead class="thead-inverse" style="width: 100%">
        <tr class="thead-inverse">
            <th></th>
            <th>
                <a href="" ng-click="sortBy = 'id'; sortReverse = !sortReverse">
                    #
                    <span ng-show="sortBy == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortBy == 'id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortBy = 'unrepairable || (underRepair && unrepairable)'; sortReverse = !sortReverse">
                    Status
                    <span ng-show="sortBy == 'unrepairable || (underRepair && unrepairable)' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortBy == 'unrepairable || (underRepair && unrepairable)' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortBy = 'containerName'; sortReverse = !sortReverse">
                    Name of container
                    <span ng-show="sortBy == 'containerName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortBy == 'containerName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
        </tr>

        </thead>

        <tbody>
        <tr ng-repeat="job in jobs | orderBy:sortBy:sortReverse">
            <td style="width: 1%;white-space:nowrap;text-decoration: none;">
                <span ng-click="deleteJob(job.id)">
                    <i class="fa fa-2x fa-trash" style="margin-right: 0.5rem; margin-left: 0.5rem; cursor: pointer;" title="Delete this job" ></i>
                </span>
                <span ng-click="redirectJob(job.id)">
                    <i class="fa fa-2x fa-pencil" style="margin-right: 0.5rem; margin-left: 0.5rem; cursor: pointer;" title="Edit this job"></i>
                </span>
                <span ng-click="redirectAnalytics(job.id)">
                    <i class="fa fa-2x fa-binoculars" style="margin-right: 0.5rem; margin-left: 0.5rem; cursor: pointer;" title="Analytics about job"></i>
                </span>
            </td>
            <td style="font-size: medium;">{{ job.id }}</td>
            <td><i class="fa fa-2x fa-thumbs-up" style="color:green;margin-left: 0.5rem"   ng-if="!job.unrepairable && !job.underRepair"></i>
                <i class="fa fa-2x fa-thumbs-down" style="color:orange;margin-left: 0.5rem" ng-if="job.underRepair && !job.unrepairable"></i>
                <i class="fa fa-2x fa-thumbs-down" style="color:red;margin-left: 0.5rem" ng-if="job.unrepairable"></i></td>
            <td style="font-size: medium;">{{ job.containerName }}</td>
        </tr>
        </tbody>
    </table>
</div>
    <button type="button" class="btn btn-primary pull-right" onclick="location.href = '#!job/new';" ng-if="jobLoadSuccess === 'success'">Add Job</button>
</div>