<div style="margin: 1rem">

    <!-- alerts when loading the form -->
    <div class="alert alert-danger" ng-if="containerLoadSuccess === 'fail'">
        <p><strong>Error!</strong> Could not load containers. Try reloading this site or check if /var/socket/docker.sock is mounted.</p>
    </div>

    <div class="alert alert-info" style=" display: flex;align-items: center;" ng-if="containerLoadSuccess === 'loading'">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><p><strong>Loading</strong> currently available containers</p>
    </div>

    <!-- alerts after submit click -->
    <div class="alert alert-success" ng-if="jobCreated === 'success'">
        <strong>Success!</strong> Job was added
    </div>

    <div class="alert alert-danger" ng-if="jobCreated === 'fail'">
        <strong>Error!</strong> {{ jobCreatedError }}
    </div>

</div>
<div class="panel panel-default" style="margin-left: 3rem; margin-right: 3rem;" ng-if="containerLoadSuccess === 'success'">

    <form name="newJobForm"
          sf-schema="jobSchema"
          sf-form="jobForm"
          sf-model="jobModel"
          style="margin: 1rem"></form>
    <div  style="margin-left: 1rem; margin-bottom: 1rem">
        <button ng-if="!loading"  ng-click="onSubmit(newJobForm)" class="btn btn-success">Submit</button>
        <i ng-if="loading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>

</div>

